* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	box-sizing: border-box;
}

#navbar {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 80px;
	border-bottom: 1px solid rgb(233, 233, 233);

}

#menu-phone {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 10px;
	font-size: 50px;
	cursor: pointer;
	align-items: center;
}

#menu-phone p {
	padding-bottom: 10px;
}

#menu-desktop {
	width: 100vw;
	height: 40px;
	border-bottom: 1px solid rgb(233, 233, 233);
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu-item-container {
	height: 100%;
	width: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: small;
}

.menu-item-desktop {
	margin: 1px;
	padding: 0px 6px 0px 6px;
	display: flex;
	justify-content: center;
	text-wrap: nowrap;
	height: 100%;
	align-items: center;
	cursor: pointer;

}

.menu-selected {
	border-top: 3px solid transparent;
	border-bottom: 3px solid black;
}

.menu-item-desktop:hover {
	background-color: rgb(214, 214, 214);
}

#search-bar {
	margin-left: 10px ;
	left: 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	height: 100%;
}

.letras {
	display: flex;
	width: 30%;
	gap: 8px;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 10px;
}

.letra {
	width: 40px;
	height: 40px;
	background-color: black;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.letra p {
	padding: 22%;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 30px;
	
}

@media screen and (max-width: 768px) {
	
	#menu-desktop {
		display: none;
		visibility: hidden;
	}

	#menu-phone {
		display: flex;
		visibility: visible;
	}

	#search-bar {
		left: 45px;
	}
}